version: "3"

services:
  trafik-docker:
    # The official v3 Traefik docker image
    image: traefik:v3.2
    labels:
      - "traefik.http.routers.dashboard.rule=PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users=anas:$$2y$$05$$OX/Kgw6dTLZw.6GtQh2m8.sdXuRM5RW6dWfgvEgVwFgJxzUKSDcjS"
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--api.dashboard=true"
      - "--log.level=DEBUG"
      - "--providers.docker"
    networks:
      - anas-didi95-network
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "443:443"
    volumes:
      # So that Traefik can listen to the Docker events
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  whoami:
    # A container that exposes an API to show its IP address
    image: traefik/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Host(`whoami.docker.localhost`)"

networks:
  anas-didi95-network:
    external:
      name: anas-didi95-network
